<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <div id="wrapper">
      <test></test>
    </div>
    <script src="/js/test.js"></script>
  </body>
</html>
