<!DOCTYPE html>
<html lang="js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/emp_auction_regist.css">
	<title>オークション登録</title>
</head>
<body>
	<%- include('emp_header') %>
	<div class="container-fluid">
		<h1>オークション登録</h1>
		<div class="row">
			<div class="col-md-3">
				<h4>車種を探す</h4>
				<div class="row">
					<h5>メーカーから検索</h5>
				</div>
				<div class="row">
					<h5>ボディタイプから検索</h5>
				</div>
			</div>
			<div class="col-md-9">
				<!-- 車両選択 -->

			</div>
		</div>
	</div>
</body>
</html>