<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emp_Cars</title>
</head>
<body>
    <h1>emp car</h1>
    <div id="wrapper">
        <emp-car></emp-car>
    </div>
    <script src="/js/emp_car.js"></script>
</body>
</html>