<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="/css/emp_car_regist.css">
  <title>車両登録</title>
</head>

<body>
  <div id="wrapper">
    <%- include('./emp_header.ejs'); %>
    <div class="car_info">
      <form action="/emp/car/confirm" method="post" enctype="multipart/form-data">

        <section class="input_area">
          <h2>車両情報</h2>
          <table class="car_name">
            <tr>
              <td>メーカー名</td>
              <td><input type="text" name="maker" value="トヨタ" /></td>
              <td>車名</td>
              <td><input type="text" name="car_name" value="クラウンロイヤル" /></td>
            </tr>
            <tr>
              <td>グレード</td>
              <td><input type="text" name="grade" value="ハイブリッド 2.5 ロイヤルサルーンG" /></td>
              <td>形状</td>
              <td><input type="text" name="shape" value="セダン" /></td>
            </tr>
          </table>
          <table class="car_detail">
            <tr>
              <td>登録年式</td>
              <td><input type="text" name="registed_model_year" value="2015" /></td>
              <td>モデル年式</td>
              <td><input type="text" name="model_year" value="2015" /></td>
              <td>車検</td>
              <td><input type="text" name="inspection" value="2年" /></td>
            </tr>
            <tr>
              <td>型式</td>
              <td><input type="text" name="model" value="DAA-AWS210" /></td>
              <td>ミッション</td>
              <td><input type="text" name="mission" value="AT" /></td>
              <td>燃料</td>
              <td>
                <select name="fuel">
                  <option value="ガソリン">ガソリン</option>
                  <option value="軽油">軽油</option>
                  <option value="電気">電気</option>
                  <option value="ハイブリッド" selected>ハイブリッド</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>外装色</td>
              <td><input type="text" name="outer_color" value="白" /></td>
              <td>内装色</td>
              <td><input type="text" name="inner_color" value="グレー" /></td>
              <td>排気量</td>
              <td><input type="number" name="engine_size" value="2500" />c.c.</td>
            </tr>
            <tr>
              <td>走行距離</td>
              <td><input type="text" name="mileage" value="300000" />km</td>
              <td>車歴</td>
              <td><input type="text" name="car_history" value="自家用" /></td>
              <td>車台番号</td>
              <td>
                <input type="text" name="undercarriage_number" value="8743721985211845" />
              </td>
            </tr>
            <tr>
              <td>NOX</td>
              <td>
                <select name="NOX">
                  <option value="">-</option>
                  <option value="適合">適合</option>
                  <option value="不適合">不適合</option>
                </select>
              </td>
              <td>所有者歴</td>
              <td>
                <div class="radio">
                  <label for="one_owner"><input type="radio" name="owner" value="ワンオーナー" id="one_owner" checked />ワンオーナー</label>
                  <label for="some_owner">
                    <input type="radio" name="owner" value="複数オーナー" id="some_owner" />複数オーナー
                  </label>
                </div>
              </td>
            </tr>
          </table>

          <h2>車両詳細</h2>
          <table class="car_detail">
            <tr>
              <td>ドア数</td>
              <td><input type="number" name="door" value="4" /></td>
              <td>乗車定員</td>
              <td><input type="number" name="riding_capacity" value="6" /></td>
              <td>ハンドル</td>
              <td>
                <select name="handle">
                  <option value="右" selected>右</option>
                  <option value="左">左</option>
                  <option value="なし">なし</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>メーター交換歴</td>
              <td>
                <input type="number" name="meter_exchange_history" value="1" />
              </td>
              <td>色替</td>
              <td>
                <div class="radio">
                  <label for="color_change-true">
                    <input type="radio" name="color_change" value="あり" id="color_change-true" />あり
                  </label>
                  <label for="color_change-false">
                    <input type="radio" name="color_change" value="なし" id="color_change-false" checked />なし
                  </label>
                </div>
              </td>
              <td>室内シート</td>
              <td><input type="number" name="in_room_sheet" value="4" /></td>
            </tr>
            <tr>
              <td colspan="3" style="text-align: left">
                リサイクル料金受託済み金額
                <input type="number" name="recycleing_amount" value="50000" style="width: 30%" />円
              </td>
            </tr>
          </table>

          <h2>装備品</h2>
          <table class="car_equip">
            <tr>
              <td>エアコン</td>
              <td>
                <select name="air_conditioning">
                  <option value="">-</option>
                  <option value="○" selected>○</option>
                  <option value="×">×</option>
                </select>
              </td>
              <td>パワーウィンドウ</td>
              <td>
                <select name="powor_window">
                  <option value="">-</option>
                  <option value="○" selected>○</option>
                  <option value="×">×</option>
                </select>
              </td>
              <td>パワステ</td>
              <td>
                <select name="powor_steering">
                  <option value="">-</option>
                  <option value="○" selected>○</option>
                  <option value="×">×</option>
                </select>
              </td>
              <td>サンルーフ</td>
              <td>
                <select name="sunroof">
                  <option value="">-</option>
                  <option value="○" selected>○</option>
                  <option value="×">×</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>本革シート</td>
              <td>
                <select name="leather_seet">
                  <option value="">-</option>
                  <option value="○">○</option>
                  <option value="×" selected>×</option>
                </select>
              </td>
              <td>エアバッグ</td>
              <td>
                <select name="airbag">
                  <option value="">-</option>
                  <option value="○" selected>○</option>
                  <option value="×">×</option>
                </select>
              </td>
              <td>純正アルミホイール</td>
              <td>
                <select name="aliminium_foil">
                  <option value="">-</option>
                  <option value="○">○</option>
                  <option value="×" selected>×</option>
                </select>
              </td>
              <td>ナビゲーション</td>
              <td>
                <select name="navigation">
                  <option value="">-</option>
                  <option value="○" selected>○</option>
                  <option value="×">×</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>新車保証書</td>
              <td>
                <select name="warranty">
                  <option value="">-</option>
                  <option value="○">○</option>
                  <option value="×" selected>×</option>
                </select>
              </td>
              <td>取扱説明書</td>
              <td>
                <select name="guide">
                  <option value="guide">-</option>
                  <option value="○" selected>○</option>
                  <option value="×">×</option>
                </select>
              </td>
            </tr>
          </table>
          <h2>備考</h2>
          <div class="price_area">
            <table class="price_area">
              <tr>
                <td>オークション<span>希望</span>価格</td>
                <td>
                  <input type="number" name="auction_desired_price" value="2000" />,000円
                </td>
                <td>オークション<span>スタート</span>価格</td>
                <td>
                  <input type="number" name="auction_start_price" value="2500" />,000円
                </td>
              </tr>
            </table>
            <table class="point_area">
              <tr>
                <td>
                  評価点
                  <input type="number" name="evaluation_point" value="4" />点
                </td>
                <td>
                  内装点
                  <input type="number" name="interior_point" value="6" />点
                </td>
                <td>
                  外装点
                  <input type="number" name="exterior_point" value="5" />点
                </td>
              </tr>
            </table>
          </div>

          <div class="text_container">
            <div class="text_area">
              <p>注意事項</p>
              <textarea name="considerations" cols="80" rows="8"></textarea>
            </div>
            <div class="text_area">
              <p>セールスポイント</p>
              <textarea name="sales_point" cols="80" rows="8"></textarea>
            </div>
          </div>
          <div class="text_container">
            <div class="text_area">
              <p>検査員記入欄</p>
              <textarea name="entries_field" cols="80" rows="8"></textarea>
            </div>
            <div class="text_area">
              <p>コメント</p>
              <textarea name="comment" cols="80" rows="8"></textarea>
            </div>
          </div>
        </section>
        <h2>車両画像</h2>
        <section class="image_area">
          <p v-for="n of 15" :key="n"><input type="file" name="car_picture" /></p>
        </section>
        <button type="submit" class="btn btn-primary">確認画面へ</button>
      </form>
    </div>
  </div>
  <script src="/js/emp_car_regist.js"></script>
</body>

</html>