<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/css/user_top.css' />
  <title>emp Top</title>
</head>

<body>
  <div id="wrapper">
    <%- include('./emp_header.ejs'); %>
    <div class="row content-nav icon_area" style="width: 50%;">
      <div class="col-md-3">
        <a href="/emp/auction">
          <div class="content-item">
            <img src="/images/deal.jpg" />
            <p>オークション</p>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/emp/car">
          <div class="content-item">
            <img src="/images/car.jpg" />
            <p>車輌情報</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <script src="/js/user_top.js"></script>
</body>

</html>