<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/user/login">ユーザー</a></p>
    <p><a href="/emp/login">社員</a></p>
    <p><a href="/test">テストページ</a></p>
    <p><a href="/user/auction/6005659c8a3b9f17b5e563d1/bit/600151e21375720161f92fd4">オークション</a></p>
    </script>
  </body>
</html>
