<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <form action="/test/user" method="post" onsubmit="doSomething();return false;">
      <div>User</div>
      <table>
        <tr>
          <td>name</td>
          <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>email</td>
          <td><input type="text" name="email"></td>
        </tr>
        <tr>
          <td>tel</td>
          <td><input type="text" name="tel"></td>
        </tr>
        <tr>
          <td>password</td>
          <td><input type="text" name="password"></td>
        </tr>
      </table>
      <button type="submit">送信</button>
    </form>

    <form action="/test/employee" method="post" onsubmit="doSomething();return false;">
      <div>Employee</div>
      <table>
        <tr>
          <td>name</td><td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>password</td><td><input type="password" name="password"></td>
        </tr>
      </table>
      <button type="submit">送信</button>
    </form>

    <form action="/test/login" method="post" onsubmit="doSomething();return false;">
      <div>Employee</div>
      <table>
        <tr>
          <td>name</td><td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td>password</td><td><input type="password" name="password"></td>
        </tr>
      </table>
      <button type="submit">ログイン</button>
    </form>

  </body>
</html>
