<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/css/user_top.css' />
  <title>User Top</title>
</head>

<body>
  <div id="wrapper">
    <%- include('./user_header.ejs'); %>
    <div class="row content-nav icon_area">
      <div class="col-md-3">
        <a href="/user/auction">
          <div class="content-item">
            <img src="/images/deal.jpg" />
            <p>オークション</p>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/user/car">
          <div class="content-item">
            <img src="/images/car.jpg" />
            <p>車輌情報</p>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="content-item">
            <img src="/images/user.jpg" />
            <p>個人情報</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <script src="/js/user_top.js"></script>
</body>

</html>