<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/user_login.css' />
    <title>Document</title>
</head>

<body>
    <div id="wrapper" class="container">
        <div class="flex align-center">
            <div style="width: 36%;">
                <div class="flex align-center">
                    <img src="/images/header.png" />
                    <h1>ログイン</h1>
                </div>
                <div>
                    <p>ユーザー名</p>
                    <input class="user-input" id="user_id" type="text" placeholder=""/>
                </div>
                <div>
                    <p>パスワード</p>
                    <input class="user-input" id="password" type="password" placeholder="" />
                </div>
                <br>
                <div>
                    <input type="checkbox" />
                    <label>自動ログイン</label>
                    <a href="#">パスワード忘れた</a>
                </div>
                <br>
                <button class="user-btn login" style="margin-right:1rem" id="login">ログイン</button>
                <button class="user-btn register">新規登録</button>
            </div>
            <div>
                <img style="width:36rem" src="/images/logo.png">
            </div>
        </div>
    </div>
    <!-- <script src="/js/user_login.js"></script> -->
</body>

<script>
    let login = document.getElementById('login')
    login.onclick = function () {
        let user_id = document.getElementById('user_id').value
        let password = document.getElementById('password').value
        let xmlHttp = new XMLHttpRequest();
        if (xmlHttp == null) {
            alert('エラー');
            return;
        }
        xmlHttp.open("POST", 'login', true);
        xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlHttp.send('user_id=' + user_id + '&password=' + password);
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                var d = xmlHttp.responseText; // 返回值 
                // 处理返回值 
                if (d) {
                    d = JSON.parse(d)
                    localStorage.setItem('user', d)
                    window.location.href = 'top'
                } else {
                    alert('パスワードまたはID確認してください')
                }
            }

        }; //发送事件后，收到信息了调用函数 
    }
</script>

</html>