<header>
    <p class="header_icon"><img src="/images/logo.png" alt="" /></p>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="キーワード" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">検索</button>
      </div>
    <ul>
      <li class="header_link"><a href="/user/auction">オークション一覧</a></li>
      <li class="header_link"><a href="">ログアウト</a></li>
    </ul>
  </header>
  