.main_area {
  display: flex;
  justify-content: space-between;
}

.bit_history {
  width: 20%;
}

.bit_data {
  width: 100%;
  padding: 10px;
  display: flex;
}

.bit_data li {
  width: 33.3%;
}

.bit_data:nth-child(odd) {
  background-color: aliceblue;
}

.auction_area {
  width: 60%;
  margin: 0 auto;
  border: solid #000000 1px;
}

.auciton_schedule {
  width: 20%;
}
